@model dynamic

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div style="font-family: sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;">
        @* <img src="cid:logo" alt="Logo da Empresa" style="max-width: 200px; margin-bottom: 20px;"> *@

        <h1>Redefinição de senha - @Model.NomeDaEmpresa</h1>

        <p>Olá @Model.NomeDoUsuario,</p>

        <p>Recebemos uma solicitação para redefinir a senha da sua conta @Model.NomeDaEmpresa.</p>

        <p>Para completar a redefinição e escolher uma nova senha, clique no botão abaixo:</p>

        <a href="@Model.LinkParaRedefinicaoDeSenha" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">Redefinir Senha</a>

        <p>Este link expirará em @Model.TempoDeExpiracaoDoLink, então certifique-se de redefinir sua senha o mais breve possível.</p>

        <p>Caso não tenha solicitado a redefinição de senha, ignore este email. Sua senha permanecerá inalterada.</p>

        <p>Se tiver alguma dúvida ou precisar de ajuda, por favor, não hesite em entrar em contato com nossa equipe de suporte através do email @Model.EnderecoDeEmailDeSuporte.</p>

        <p style="margin-top: 30px;">Atenciosamente,</p>
        <p>A equipe @Model.NomeDaEmpresa</p>
    </div>
</body>
</html>
