@model CodeData_Connection.Controllers.DetalhesSolicitacaoViewModel

@{
    ViewData["Title"] = Model.DadosSolicitacao.Solicitacao.Tipo ? "Locação" : "Homologação";
}

<h1>DADOS DA SOLICITAÇÃO</h1>

<p><strong>TIPO:</strong> @{ var tipo = Model.DadosSolicitacao.Solicitacao.Tipo ? "LOCAÇÃO" : "HOMOLOGAÇÃO";}@tipo</p>
<p><strong>NÚMERO:</strong> @Model.DadosSolicitacao.Solicitacao.Numero</p>
<p><strong>DESCRIÇÃO:</strong> @Model.DadosSolicitacao.Solicitacao.Descricao</p>
<p><strong>DATA INÍCIO:</strong> @Model.DadosSolicitacao.Solicitacao.DataInicio</p>
<p><strong>DATA FINAL:</strong> @Model.DadosSolicitacao.Solicitacao.DataFinal</p>
<p><strong>CLIENTE:</strong> @Model.DadosSolicitacao.Cliente</p>
<p><strong>VENDEDOR:</strong> @Model.DadosSolicitacao.Vendedor</p>

@if (Model.Documentos != null)
{
    <h2>DOCUMENTOS</h2>

    @await Html.PartialAsync("~/Views/Components/_TabelaDocumento.cshtml", Model.Documentos)
}

@if (Model.Equipamentos != null)
{
    <h2>EQUIPAMENTOS</h2>

    @await Html.PartialAsync("~/Views/Components/_TabelaEquipamento.cshtml", Model.Equipamentos)
}

@if(Model.Endereco != null)
{
    <h2>ENDEREÇO</h2>

    <p><strong>CEP:</strong> @Model.Endereco.CEP</p>
    <p><strong>RUA:</strong> @Model.Endereco.Rua</p>
    <p><strong>NÚMERO:</strong> @Model.Endereco.Numero</p>
    <p><strong>CIDADE:</strong> @Model.Endereco.Cidade</p>
    <p><strong>ESTADO:</strong> @Model.Endereco.Estado</p>
    <p><strong>COMPLEMENTO:</strong> @Model.Endereco.Complemento</p>

    <h2>MAPA</h2>

    @await Html.PartialAsync("~/Views/Components/_GoogleMaps.cshtml", Model.Endereco.Localizacao)
}

@section Scripts {
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            let tipoSolicitacao = "@Model.DadosSolicitacao.Solicitacao.Tipo"

            let items = document.querySelectorAll('li')

            items.forEach(i => {
                if (i.innerHTML.includes(`tipoSolicitacao=${tipoSolicitacao.toLowerCase()}`)) {
                    i.classList.add("selected")
                }
            })
        })
    </script>
}