@model CodeData_Connection.Controllers.DetalhesEquipamentoViewModel

@{
    ViewData["Title"] = "Equipamento";
}

<h1>DADOS DO EQUIPAMENTO</h1>

<p><strong>CÓDIGO:</strong> @Model.Equipamento.Codigo</p>
<p><strong>MODELO:</strong> @Model.Equipamento.Modelo</p>
<p><strong>DESCRIÇÃO:</strong> @Model.Equipamento.Descricao</p>
<p><strong>MARCA:</strong> @Model.Equipamento.Marca</p>
<p><strong>SERIAL NUMBER:</strong> @Model.Equipamento.SerialNumber</p>
<p><strong>PART NUMBER:</strong> @Model.Equipamento.PartNumber</p>
<p><strong>CONDIÇÃO:</strong> @{ var condicao = Model.Equipamento.Condicao ? "ATIVO" : "INATIVO";}@condicao</p>
<p><strong>STATUS:</strong> @Model.Status</p>

@if (Model.Documento != null)
{
    <h2>DOCUMENTO</h2>

    <p><strong>NÚMERO:</strong> @Model.Documento.Numero</p>
    <p><strong>NOME:</strong> @Model.Documento.Nome</p>
    <p><strong>TIPO:</strong> @Model.Documento.Tipo</p>

    <a asp-controller="Documento" asp-action="Detalhes" asp-route-id="@Model.Documento.Id">Visualizar Detalhes</a>
}

@if (Model.DadosSolicitacao != null)
{
    <h2>SOLICITAÇÃO</h2>

    <p><strong>TIPO:</strong> @{var tipo = Model.DadosSolicitacao.Solicitacao.Tipo ? "LOCAÇÃO" : "HOMOLOGAÇÃO";}@tipo</p>
    <p><strong>NÚMERO:</strong> @Model.DadosSolicitacao.Solicitacao.Numero</p>
    <p><strong>DESCRIÇÃO:</strong> @Model.DadosSolicitacao.Solicitacao.Descricao</p>
    <p><strong>CLIENTE:</strong> @Model.DadosSolicitacao.Cliente</p>
    <p><strong>VENDEDOR:</strong> @Model.DadosSolicitacao.Vendedor</p>
} else
{
    <h2>ESTOQUE</h2>

    <p><strong>NOME:</strong> @Model.Estoque.Nome</p>
}

@if(Model.Endereco != null)
{
    <h2>ENDEREÇO</h2>

    <p><strong>CEP:</strong> @Model.Endereco.CEP</p>
    <p><strong>RUA:</strong> @Model.Endereco.Rua</p>
    <p><strong>NÚMERO:</strong> @Model.Endereco.Numero</p>
    <p><strong>CIDADE:</strong> @Model.Endereco.Cidade</p>
    <p><strong>ESTADO:</strong> @Model.Endereco.Estado</p>
    <p><strong>COMPLEMENTO:</strong> @Model.Endereco.Complemento</p>
}

<h2>MAPA</h2>

@await Html.PartialAsync("~/Views/Components/_GoogleMaps.cshtml", Model.Endereco.Localizacao)