@model CodeData_Connection.Models.DadosEquipamento

@{
    ViewData["Title"] = "Equipamento";
}

<h1>DADOS DO EQUIPAMENTO</h1>

<p>@Model.Equipamento.Codigo</p>
<p>@Model.Equipamento.Modelo</p>
<p>@Model.Equipamento.Descricao</p>
<p>@Model.Equipamento.Marca</p>
<p>@Model.Equipamento.SerialNumber</p>
<p>@Model.Equipamento.PartNumber</p>
<p>@Model.Equipamento.Codigo</p>
<p>@Model.Status</p>

<p>@Model.Endereco.CEP</p>
<p>@Model.Endereco.Rua</p>
<p>@Model.Endereco.Numero</p>
<p>@Model.Endereco.Cidade</p>
<p>@Model.Endereco.Estado</p>
<p>@Model.Endereco.Complemento</p>
<p>@Model.Endereco.Localizacao</p>


<h2>Localização</h2>

@Html.Partial("~/Views/Components/_GoogleMaps.cshtml")